.emailModalDialog .modal-header{
  background-color: #363636 !important;
  color: white !important;
}


.emailModalDialog .modal-header>button{
  color: white;
  opacity: 1 ;
}

.emailModalDialog .modal-header>button:hover{
  color: white;
  background-color: #747171;
  opacity: 1;
  padding: 3px;
}

.emailModalDialog{
	width: 1555px;
	height: 781px;
}

.mail-editor-container{
  height: 500px;
  overflow-y:scroll;
}

.template-dropdown,.template-dropdown:hover,.template-dropdown:active{
  color:#9b9b9b !important;
  background-color: #363636 !important;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-radius: 0px !important;
  border-bottom: none !important;
  /*border-bottom: 1px solid #9b9b9b !important;*/
  box-shadow: none !important;
  padding: 0px;
}

.template-dropdown-container{
  display: inline-block;
  position: absolute;
  right: 100px;
}