.emailModalDialog .modal-header{
  background-color: black !important;
  color: white !important;
}


.emailModalDialog .modal-header>button{
  color: white;
  opacity: 1 ;
}

.emailModalDialog .modal-header>button:hover{
  color: white;
  background-color: #747171;
  opacity: 1;
  padding: 3px;
}

.emailModalDialog{
	width: 1555px;
	height: 781px;
}

.mail-editor-container{
  min-height: 500px;
}