
html {
	height: 100%;
}

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
	background-color: rgb(240, 240, 240);
}

.App{
	color:rgb(17,17,17);
	max-width: 740px;
	background-color: rgb(255, 255, 255);
	padding: 20px;
	margin: 65px auto 45px;
}

.emailAddr>input,.subjectDiv>input{
	border: none transparent;
	outline: none;
	cursor: text;
}

.emailAddr>input{
	padding: 10px;
	width:90%;
	height: 20px;
	line-height: 20px;
}

.subjectDiv>input{
	width: 100%;
}

.subjectDiv{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-top: 2px solid #eee;
	border-bottom: 2px solid #eee;
}

.emailAddr>span{
	margin-right: 10px;
	color:#8e8e8e;
}

.css-1gr0jds{
	border-radius: 2px;
	line-height: 20px;
	background-color: rgba(32,33,36,0.122);
}

.file-attachment{
	text-decoration: none;
}

.file-attachment:hover{
	text-decoration: none;
}

.file-attachment-div{
	font-size: .875rem;
	display: block;
	background-color: #f5f5f5;
    border: 1px solid transparent;
    font-weight: bold;
    margin: 10px 0 0px;
    overflow-y: hidden;
    padding: 4px 4px 4px 4px;
    max-width: 448px;
}

.grey-text{
	color: #777;
	display:inline-block;
	padding: 3px 0;
}

.remove-attachment{
	background: url(//ssl.gstatic.com/ui/v1/icons/common/x_8px.png) no-repeat 0 0;
    cursor: pointer;
    float: right;
    height: 16px;
    margin-top: 3px;
    opacity: .5;
    width: 16px;
}

.sendButton{
	box-shadow: 0 1px 2px 0 rgba(26,115,232,0.451), 0 1px 3px 1px rgba(26,115,232,0.302);
    display: inline-block;
    cursor: pointer;
    max-width: 104px;
    min-width: 72px;
    font-size: .875rem;
    border-radius: 4px;
    font-weight: 550;
    letter-spacing:0.25px;
    height: 36px;
    padding: 0 16px;
    background-color: #1a73e8;
    color: #fff;
    border: none;
}

.sendButton:hover{
	box-shadow: 0 1px 2px 0 rgba(26,115,232,0,451), 0 1px 3px 1px rgba(26,115,232,0,302);
	background-color: #297be6;
	border: none;
}

.fileAttachmentDiv{
	display: inline-block;
	padding: 1px 18px 17px;
}

.footerDiv{
	margin-top: 20px;
}

.font-size-dropdown,.font-size-dropdown:hover{
	padding: 0px !important;
	border: none;
	color: #747474 !important;
	background-color: #fff !important;
	box-shadow: none !important;
	-webkit-box-shadow:none !important;
	margin-bottom:4px;
}

.font-size-dropdown>.dropdown-menu{
	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
}

.textLink{
	text-decoration: underline !important;
	color: #15c;
}

.textLink:hover{
	color:#15c;
}